{{ define "main" }}
<h1 class="title"> All CTFs we took part in </h1>

<section>
    <ul class="terminal-prefix">
        {{/* Get all ctfs under content/ctfs/ */}}
        {{ with .Site.GetPage "section" "ctfs" }}
            {{ range .Sections }}
                <li class="label-wrap">
                    <time>[{{ .Date | dateFormat "02/01/06" }}]</time>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    {{ if and (isset .Params "place") (isset .Params "total") }}
                        <span class="label"> - {{ .Params.place }}/{{ .Params.total }}</span>
                    {{ end }}
                </li>
            {{ end }}
        {{ else }}
            <li>No CTFs found.</li>
        {{ end }}
    </ul>
</section>
{{ end }}
