{{ define "main" }}

{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else }}
<h1 class="page-title">All writeups</h1>
{{ end }}

{{ $allPages := where .Data.Pages "Kind" "==" "page" }}
{{ range ($allPages.GroupBy "Section") }}

    {{ $sectionHeading := $.Site.GetPage .Key }}
    <h3><a href="{{ $sectionHeading.RelPermalink }}">{{ $sectionHeading.Title }}</a></h3>

    <ul class="posts terminal-prefix">
        {{ range sort .Pages "Title" "asc" }}
        <li class="post">
            <time>[{{- .Date | dateFormat "02/01/06" -}}]</time>
            <a href="{{ .RelPermalink }}">{{.Title}}</a>
            {{ if .Draft }}
            <span class="draft-label">DRAFT</span>
            {{ end }}
        </li>
        {{ end }}
    </ul>

{{ end }}
{{ end }}
