{{ define "main" }}
<h1 class="page-title">{{.Title}} - all writeups</h1>
<ul class="terminal-prefix">
    {{- range .Data.Pages -}}
    <li>
        <a href="{{ .RelPermalink }}">{{.Title}}</a> 
        {{- if .Draft -}} 
        <span class="draft-label">DRAFT</span> 
        {{- end -}}</span>

        {{ range sort .Params.Tags }}
        <span class="tag">
            <a href="{{ $.Site.LanguagePrefix | absURL }}
                tags/{{ . | urlize }}">
                {{- . | urlize -}}
            </a>
        </span>
        {{ end }}
    </li>
    {{- end -}}
</ul>
{{ end }}
