{{ define "main" }}
<main>
    <article>

        <div class="title">
            {{ $sectionHeading := .Site.GetPage .Section .Section }}
            <h1>{{ $sectionHeading.Title }}</h1>

            <h2>{{ .Title }}</h2>
            <div class="meta-bar">
                <time class="meta">{{ .Date | dateFormat "02/01/06" }}</time>

                {{ if .Draft }} 
                <span class="draft-label">DRAFT</span>
                {{ end }}

                {{ if isset .Params "tags" }}
                {{ range .GetTerms "tags" }}
                <span class="tag"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></span>
                {{ end }}
                {{ end }}
            </div>
        </div>

        {{ if isset .Params "tldr" }}
        <div class="tldr">
            <strong>tl;dr:</strong>
            {{ .Params.tldr }}
        </div>{{ end }}

        <section class="body">
            {{ .Content }}
        </section>

    </article>
</main>
{{ end }}
