{{ define "main" }}

{{ if isset .Data "Term" }}
<h1>Entries tagged - "{{ .Data.Term }}"</h1>
{{ else }}
<h1 class="page-title">All writeups</h1>
{{ end }}

<ul class="posts terminal-prefix">
	{{- range .Data.Pages -}}
        {{ $sectionHeading := .Site.GetPage .Section .Section }}
		<li class="post">
            <time>[{{- .Date | dateFormat "02/01/06" -}}]</time>
			<a href="{{ .RelPermalink }}">{{.Title}}</a>
            {{ if .Draft }}
            <span class="draft-label">DRAFT</span>
            {{ end }}
            <span>[{{- $sectionHeading.Title -}}]</span>
		</li>
	{{- end -}}
</ul>
{{ end }}
