{{ define "main" }}

{{ .Content }}
<div class="list">
    <h1 class="page-title">Upcoming Events</h1>
    <ul class="terminal-prefix">
        {{- range sort (where .Data.Pages "Date" ">" now) "Date" "asc" -}}
            <li class="nowrap">
                <time>[{{ .Date | dateFormat "02/01/06" }}]</time>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
        {{- else }}
            <li>No upcoming events.</li>
        {{- end }}
    </ul>
    
    <h1 class="page-title">Past Events</h1>
    <ul class="terminal-prefix">
        {{- range sort (where .Data.Pages "Date" "<=" now) "Date" "desc" -}}
            <li class="event-item">
                <details class="event-details">
                    <summary class="event-summary">
                        <time>[{{ .Date | dateFormat "02/01/06" }}]</time>
                        <a>{{ .Title }}</a>
                    </summary>
                    {{ .Content }}
                </details>
            </li>
        {{- end }}
    </ul>
</div>
    
{{ end }}
